In [19]:
library(ggplot2)
library(tidyverse)
library(dplyr)
library(ggmap)

In [7]:
# working directory 변경
setwd('C:/Users/STUDENT/Desktop/비대면강의/데이터시각화/final data')

# 데이터 변수 할당
y05 <- read.csv('./서울시 연평균기온 2005년 위치정보 (좌표계_ WGS1984).csv')
y06 <- read.csv('./서울시 연평균기온 2006년 위치정보 (좌표계_ WGS1984).csv')
y07 <- read.csv('./서울시 연평균기온 2007년 위치정보 (좌표계_ WGS1984).csv')
y08 <- read.csv('./서울시 연평균기온 2008년 위치정보 (좌표계_ WGS1984).csv')

In [36]:
# 1번 고유번호 컬럼을 연도로
y05$`고유번호`<- 2005
y06$`고유번호`<-2006
y07$`고유번호`<-2007
y08$`고유번호`<-2008

# 데이터 프레임 결합
seoul_1 <- rbind(y05,y06,y07,y08)
head(seoul)
tail(seoul)

# seoul 컬럼명 변경
seoul <- rename(seoul_1,
               year=고유번호,
               o.code=관측소코드,
               o.name=관측소명,
               o.addr=주소,
               temp=평균기온,
               long=경도,
                lat=위도)
names(seoul)

  고유번호 관측소코드 관측소명 주소
1 2005     509        관악     서울특별시 관악구 신림동 산56-1 (서울대학교)
2 2005     417        금천     서울특별시 금천구 독산동 1034 (독산초등학교)
3 2005     401        서초     서울특별시 서초구 서초동 1650 (서울교육대학교)
4 2005     423        구로     서울특별시 구로구 궁동 213-42 (수궁동사무소)
5 2005     410        기상청   서울특별시 동작구 신대방동 460-18 (기상청)
6 2005     403        송파     서울특별시 송파구 잠실동 40-1 (롯데월드)
  평균기온 경도     위도
1 10.93915 126.9502 37.45286
2 12.97100 126.9141 37.46031
3 13.13070 127.0179 37.48281
4 12.05035 126.8312 37.48611
5 12.60573 126.9207 37.49631
6 13.07620 127.0983 37.51101

    고유번호 관측소코드 관측소명
103 2008     414        성북
104 2008     420        북한산
105 2008     407        노원
106 2008     424        강북
107 2008     406        도봉
108 2008     108        서울
    주소                                            평균기온 경도     위도
103 서울특별시 성북구 정릉동 861-1 (국민대학교)     12.84291 126.9972 37.61330
104 서울특별시 종로구 구기동 산1 (승가사)           10.46661 126.9544 37.61829
105 서울특별시 노원구 공릉동 230-3 (육군사관학교)   12.29333 127.0873 37.62220
106 서울특별시 강북구 수유동 192-49 (강북구청 본관) 13.20938 126.9996 37.63609
107 서울특별시 도봉구 방학동 310 (신방학초등학교)   12.56357 127.0331 37.66609
108 서울특별시 종로구 송월동 1번지 (서울기상대)     12.96421 126.9635 37.57419

ERROR: Error in rename(seoul_1, year = 고유번호, o.code = 관측소코드, o.name = 관측소명, : 사용되지 않은 인자 (year = 고유번호, o.code = 관측소코드, o.name = 관측소명, o.addr = 주소, temp = 평균기온, long = 경도, lat = 위도)